body {
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
  margin: 0;
}

header {
  background: teal;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.container {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: teal;
  color: white;
  border: none;
  border-radius: 5px;
}

.success {
  color: green;
  margin-top: 10px;
}
.error {
  color: red;
  margin-top: 10px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 10 px;
  width: 100%;
}
