<!DOCTYPE html>
<html lang="en" ng-app="EvoteApp">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E-Vote | Login</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="LoginCtrl">

  <!-- Include Header -->
  

  <div class="container">
    <p>If you are Admin, Please Login here.<a href="admin-login.html">Admin</a></p>
    <h2>Voter Login</h2>
    <div class="form-box">
      <label>Username</label>
      <input type="text" ng-model="user.username" placeholder="Enter username" />

      <label>Password</label>
      <input type="password" ng-model="user.password" placeholder="Enter password" />

      <button ng-click="login()">Login</button>

      <p class="error" ng-show="errorMsg">{{errorMsg}}</p>

      <p>
        Not registered yet?
        <a href="register.html">Sign up</a>
      </p>
    </div>
  </div>

  <!-- Include Footer -->
  

</body>
</html>
